* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
  background-color: #f0e9e0
}

.nav {
  display: flex;
  color: white;
}

.form,
.nav {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.form{
  gap: 8px
}

.buttonMic{
  background-color: #075e54;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav {
  background: #075e54;
}

.img-perfil{
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form__field {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #333;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.form__field:focus {
  outline: none;
}

.list {
  margin: 0;
  padding: 1rem;
}

.list__item {
  list-style: none;
}

.list__item.list__item--mine {
  text-align: right;
}

.message {
  border: 1px solid transparent;
  border-radius: 5px;
  display: inline-block;
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
}

.message.message--mine {
  background: #D9FDD3;
  border: 1px solid #dcdcdc;
  /* border-color: #82be27; */
  text-align: right;
}

.message.message--other {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  color: #333;
  background-color: #ffff;
  font-size: 1.2rem;
}
